<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2><a href="/mathsl">IB Math SL</a></h2>
      <p>The IB Diploma Programme (DP) is a rigorous, academically challenging
        and balanced programme of education designed to prepare students aged 16
        to 19 for success at university and life beyond. The IB DP mathematics
        standard level (SL) course focuses on introducing important mathematical
        concepts through the development of mathematical techniques.
      </p>
      <p><a class="btn btn-default" href="#" role="button">This Is Not Working
        &raquo;</a>
      </p>
      </p>
    </div>
     <div class="col-md-4">
       <h2><a href="/computer_science">Computer Science</a></h2>
       <p>This course provides an introduction to theanalysis, design, and
         implementation of software solutions to simpleproblems: developing
         standard algorithms for performing a bubble sort, a linear search of
         an array, and for data validation. Other topics covered include
         converting numbers between numbering systems, binary arithmetic
         including two's complement subtraction,console and file input/output,
         and functions.
       </p>
       <p><a class="btn btn-default" href="#" role="button">This Is Not Working
         &raquo;</a>
       </p>
     </div>
      <div class="col-md-4">
        <h2><a href="/robotics">Robotics</a></h2>
        <p>This course introduces students to the working principles and
          foundational knowledge of robotics. Students learn to control a single
          robot and multiple robots by graphical user interface and computer
          programs in C/C++. This course emphasizes hands-on robotics activities
          with a concentration on mathematical modeling and computer programming
          for solving problems in math and science.
        </p>
        <p><a class="btn btn-default" href="#" role="button">This Is Not Working
          &raquo;</a>
        </p>
      </div>
  </div>
</div>
