<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title1 %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

  <div class="container">
      <div class="row">
        <div class="col-sm-3" style="background-color:lavender;">
          <a href="/">Home Page</a></div>
        <div class="col-sm-3" style="background-color:lavender;">
          <a href="/mathsl">Math SL</a></div>
        <div class="col-sm-3" style="background-color:lavender;">
          <a href="/computer_science">Computer Science</a></div>
        <div class="col-sm-3" style="background-color:lavender;">
          <a href="/robotics">Robotics</a></div>
      </div>
      <br>
      <ul class="nav nav-tabs">
        <li class="active"><a href="/">Home Page</a></li>
        <li><a href="/mathsl">Math SL</a></li>
        <li><a href="/computer_science">Computer Science</a></li>
        <li><a href="/robotics">Robotics</a></li>
      </ul>
      <br>
      <div class="jumbotron">
        <h2><%= title1 %></h2>
        <p>E-Mail: Clayton-Dagler@scusd.edu</p>
        <p>Phone: <mark>(916) 936-2840</mark><br></p>
        <p>Welcome to <%= title2 %>. If you have any questions or comments please
          contact me via email, text, or phone.</p>
      </div>
    </div>

    <%- body %>

  </body>
</html>
